<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<div class="top">
  <div class="nipsol">
    nipsol
  </div>
  <div>
    CONTACTLESS ORDERING
  </div>
</div>

<div class="middle">
  
    <img class="imgg" src="https://trello-attachments.s3.amazonaws.com/6048607c61de5b708f69ce86/6048607c61de5b708f69ce91/x/20b01d0aea8268981a84c57b46c55355/nipsol_favicon.png">
 

  <span class="text">www.nipsol.com</span>

</div>
<div class="last">
  <strong>Sailent Features of Nipsol</strong><br><br>
  <ol>
    <li>
      It offers Platfrom Independent application for all restaurant food offering needs.
    </li>
    <li>
      A nipsol certified restaurant marked as Safe to Dine by most customers across India.
    </li>
    <li>
      Nipsol payment system can be integrated at 0% charges.hello
    </li>
    <li>
      With QR based ordering and E-invoice functionaity,human intervention is reduced considerably making it a
      contactless alternative to conventional ordering mechanisms.
    </li>
    <li>
      Currently nipsol has marked its presence in over 50 Restaurants/Cafe across 50 cities within a span of 8 weeks
      since its launch. </li>

  </ol>
</div>